body{
    font-family: 'Alegreya Sans SC', serif;
    font-size: 1em; 
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;

  }
  header{
    position: relative;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 15%;
    font-size: large;
    font-weight: 500;
  }

  .card header{
    background: #288080;
    border: #45adad 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 0 0;
    }

  .card {
    flex-basis: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
  
  .pricing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }
  
  @media screen and (min-width: 850px){
    .card_big{
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1);
        z-index: -99;
    }
    header {
      justify-content: left;
  } 
     .nav_links{
      flex-direction: row;
      justify-content:right;
      align-content: right;
  }
 
 
 
 
 
      }
/* 
 



@-webkit-keyframes logo_name{
 from{width: 50px;}
   to{width: 425px;}
   start{opacity: 0;}
   end{opacity: 1;}

}  
 #logo {
  animation-name: logo_name;
  animation-duration: 5s no-repeat;
}


@media screen and (prefers-reduced-motion: reduce){
#logo_name
} */